OfertaHoteleraEJB/ejbModule/com/ofertahotelera/soap/PrestadorAutorizado.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PrestadorAutorizadoService" targetNamespace="http://soap.servicios/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.servicios/" elementFormDefault="unqualified" targetNamespace="http://soap.servicios/" version="1.0">
<xs:element name="getPrestadorAutorizado" type="tns:getPrestadorAutorizado"/>
<xs:element name="getPrestadorAutorizadoResponse" type="tns:getPrestadorAutorizadoResponse"/>
<xs:complexType name="getPrestadorAutorizado">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPrestadorAutorizadoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="solicitud" type="tns:solicitudDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitudDTO">
<xs:sequence>
<xs:element minOccurs="0" name="detalle" type="xs:string"/>
<xs:element minOccurs="0" name="estado" type="xs:string"/>
<xs:element name="id" type="xs:int"/>
<xs:element minOccurs="0" name="tipo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getPrestadorAutorizado">
<wsdl:part element="tns:getPrestadorAutorizado" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getPrestadorAutorizadoResponse">
<wsdl:part element="tns:getPrestadorAutorizadoResponse" name="parameters"></wsdl:part>
</wsdl:message>
<!-- <wsdl:portType name="ServiciosBO/PrestadorAutorizado"> -->
<!-- <wsdl:operation name="getPrestadorAutorizado"> -->
<!-- <wsdl:input message="tns:getPrestadorAutorizado" name="getPrestadorAutorizado"></wsdl:input> -->
<!-- <wsdl:output message="tns:getPrestadorAutorizadoResponse" name="getPrestadorAutorizadoResponse"></wsdl:output> -->
<!-- </wsdl:operation> -->
<!-- </wsdl:portType> -->
<!-- <wsdl:binding name="PrestadorAutorizadoServiceSoapBinding" type="tns:ServiciosBO/PrestadorAutorizado"> -->
<!-- <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> -->
<!-- <wsdl:operation name="getPrestadorAutorizado"> -->
<!-- <soap:operation soapAction="" style="document"/> -->
<!-- <wsdl:input name="getPrestadorAutorizado"> -->
<!-- <soap:body use="literal"/> -->
<!-- </wsdl:input> -->
<!-- <wsdl:output name="getPrestadorAutorizadoResponse"> -->
<!-- <soap:body use="literal"/> -->
<!-- </wsdl:output> -->
<!-- </wsdl:operation> -->
<!-- </wsdl:binding> -->
<wsdl:service name="PrestadorAutorizadoService">
<!-- <wsdl:port binding="tns:PrestadorAutorizadoServiceSoapBinding" name="ServiciosBO/PrestadorAutorizadoPort"> -->
<!-- <soap:address location="http://localhost:8080/TPO_BO_EJB/ServiciosBO/PrestadorAutorizado"/> -->
<!-- </wsdl:port> -->
</wsdl:service>
</wsdl:definitions>